.create-post{
  &__wrapper-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.99);
    z-index: 10;
  }
  &__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #B6B6B6;
    width: 400px;
    padding: 40px 0 ;
    border-radius: 20px;
  }

  &__input {
    margin-bottom: 10px;
    width: 200px;
    height: 50px;
    overflow: scroll;
    padding: 7px;
    border-radius: 7px;
    border: none;
  }

  &__file{
    display: none;

  }

  &__file-label{
    padding: 7px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 7px;
    background-color: white;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
  }


  &__bth-send{
    padding: 7px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 7px;
    background-color: white;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
  }
}