.alert{
  margin: 10px;
  width: 200px;
  border: 1px solid rgb(199, 76, 72);
  border-radius: 2px;
  padding: 10px;
  background-color: rgb(255, 115, 110);
  text-align: center;
  &__message{
    color: rgb(78, 72, 72);
    word-wrap: break-word;
  }
}