.user{
  margin-top: 50px;
  margin-left: 20px;
  border: 1px solid #000000;
  width: 320px;
  &__title{
    padding: 10px 8px;
    background-color: #efefef;
    border-bottom: 1px solid #000000;
    margin-bottom: 10px;
  }
  &__list{
    overflow-y: scroll;
    height: 300px;
  }
  &__img-wrapper{
    display: inline-block;
  width: 32px;
    height: 32px;
    border-radius: 50px;
    overflow: hidden;
  }
  &__img{
    width: 100%;height: 100%;
  }
  &__name{
    margin-left: 10px;
    max-width: 180px;
    word-wrap: break-word
  }
  &__list-item{
    display: flex;
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .list{
    &__data{
      flex-grow: 1;
      display: flex;

      align-items: center;
    }
  }
}