.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }
  &__user {
    display: flex;
    align-items: center;

    &_name {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  &__user_avatar {
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }

  &__nickname {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
  }

  &__user_info {
    margin-left: 20px;
    line-height: 1.5rem;

  }

  &__btn {
    margin-left: 20px;
    width: 100px;
    height: 30px;
  }
}